body {
    font-family: 'Roboto';
    min-height: 400px;
    background-image: url("https://i.pinimg.com/originals/5e/f1/6f/5ef16f197a44c886a2910933c9f6bf62.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#conteudo {
    text-align: center;
}

section {
    max-height: 560px;
    background-color: gray;
    width: 500px;
    min-height: 500px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 3px 6px 2px 1px #000000;
    box-shadow: 3px 6px 2px 1px #000000;
}

footer {
    text-align: center;
    margin-top: auto;
}

#buttons{
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
}

#btnLimpar{
    margin-top: 20px;
}